<!-- LEFT BAR -->
<aside id="left-col" class="uk-light uk-visible@m uk-animation-fade uk-animation-fast">
  <div class="left-logo uk-flex uk-flex-middle">
    <a href="#">
      <img class="custom-logo" src="#" alt="">
    </a>
  </div>
  <div class="left-content-box content-box-dark">
    <img src="#" alt="" class="uk-border-circle profile-img">
    <h4 class="uk-text-center uk-margin-remove-vertical text-light">#</h4>

    <div class="uk-position-relative uk-text-center uk-display-block">
      <a href="#" class="uk-text-small uk-text-muted uk-display-block uk-text-center"
         data-uk-icon="icon: triangle-down; ratio: 0.7">#</a>
      <!-- user dropdown -->
      <div class="uk-dropdown user-drop"
           data-uk-dropdown="mode: click; pos: bottom-center; animation: uk-animation-slide-bottom-small; duration: 150">
        <ul class="uk-nav uk-navbar-dropdown-nav">
          <li class="uk-nav-header">#</li>
          <li>
            <a href="#"><span data-uk-icon="icon: info"></span>Détail</a>
          </li>
          <li><a href="#"><span data-uk-icon="icon: file-edit"></span>Modifier</a></li>
          <li><a href="#"><span data-uk-icon="icon: refresh"></span>Mot de passe</a>
          </li>
          <li class="uk-nav-divider"></li>
          <li><a href="#"><span data-uk-icon="icon: sign-out"></span> Deconnexion</a></li>
        </ul>
      </div>
      <!-- /user dropdown -->
    </div>
  </div>

  <div class="left-nav-wrap">
    <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
      <li class="uk-nav-header">GESTIONS</li>
      <li class="uk-parent"><a href="#"><span data-uk-icon="icon: users" class="uk-margin-small-right"></span>Utilisateurs</a>
        <ul class="uk-nav-sub">
          <li><a title="Utilisateurs" href="#">Liste des comptes</a></li>
        </ul>
      </li>
      <li class="uk-parent"><a href="#"><span data-uk-icon="icon: pencil" class="uk-margin-small-right"></span>Formations</a>
        <ul class="uk-nav-sub">
          <li><a title="educations" href="#">Liste des formations</a></li>
          <li><a title="types" href="#">Liste des types</a></li>
          <li><a title="levels" href="#">Liste des niveaux</a></li>
        </ul>
      </li>
      <li class="uk-parent">
        <a href="#"><span data-uk-icon="icon: microphone" class="uk-margin-small-right"></span>Experiences</a>
        <ul class="uk-nav-sub">
          <li><a title="Experiences" href="#">Liste des experiences</a></li>
        </ul>
      </li>
      <li class="uk-parent">
        <a href="#"><span data-uk-icon="icon: paint-bucket" class="uk-margin-small-right"></span>Portfolio</a>
        <ul class="uk-nav-sub">
          <li><a title="Portfolio" href="#">Liste des projets</a></li>
        </ul>
      </li>
      <li class="uk-parent">
        <a href="#"><span data-uk-icon="icon: file-text" class="uk-margin-small-right"></span>Blog</a>
        <ul class="uk-nav-sub">
          <li><a title="Articles" href="#">Liste des articles</a></li>
        </ul>
      </li>
      <li class="uk-parent">
        <a href="#"><span data-uk-icon="icon: mail" class="uk-margin-small-right"></span>Messages</a>
        <ul class="uk-nav-sub">
          <li><a title="Contacts" href="#">eMails reçus</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="bar-bottom">
    <ul class="uk-subnav uk-flex uk-flex-center uk-child-width-1-5" data-uk-grid>
      <li>
        <a href="#" class="uk-icon-link" data-uk-icon="icon: home" title="Accueil"
           data-uk-tooltip></a>
      </li>
      <li>
        <a href="#" class="uk-icon-link" data-uk-tooltip="Deconnexion"
           data-uk-icon="icon: sign-out"></a>
      </li>
    </ul>
  </div>
</aside>
