<!--HEADER-->
<header id="top-head" class="uk-position-fixed uk-animation-fade uk-animation-fast">
  <div class="uk-container uk-container-expand background-nav">
    <nav class="uk-navbar uk-light" data-uk-navbar="mode:click; duration: 250">
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li><a class="uk-navbar-toggle uk-hidden@m" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav" title="Menu" data-uk-tooltip></a></li>
          <li class="uk-visible@m"><a href="#">ACCUEIL</a></li>
          <li class="uk-visible@m">
            <a href="#">MON COMPTE<span data-uk-icon="icon: triangle-down"></span></a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li class="uk-nav-header">#</li>
                <li>
                  <a href="#"><span data-uk-icon="icon: info"></span>Détail</a>
                </li>
                <li><a href="#"><span data-uk-icon="icon: file-edit"></span>Modifier</a></li>
                <li><a href="#"><span data-uk-icon="icon: refresh"></span>Mot de passe</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#"><span data-uk-icon="icon: sign-out"></span> Deconnexion</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li><a href="#" target="_blank" data-uk-icon="icon: world" title="Voir le site" data-uk-tooltip></a></li>
          <li><a href="#" data-uk-icon="icon:  sign-out" title="Deconnexion" data-uk-tooltip></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!--/HEADER-->
